.Register {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D9D8D8;
  }
  
  .form_container {
    height: 70vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2C0073;
    border-radius: 5px;
  }
  
  .logo_container {
    height: 20vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .register_input_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 25px;
    color: white;
  }
  
  .register_input_box input {
    width: 80%;
    border-radius: 2px;
    margin: 10px 0;
  }
  
  .register_logo {
    font-size: 55px;
    color: #0E4AE2;
    font-weight: 400;
  }
  
  .register_button_container {
    margin-top: 15px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register_btn {
    color: white;
    background-color: #0E4AE2;
    font-size: 25px;
    border: none;
    width: 80%;
  }
  
  .register_btn:hover {
    background-color: #3d6bdd;
  }

  /* Mobile */

  @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .form_container {
      width: 75%;
      height: 65vh;
    }

    .register_input_box {
      font-size: 14px;
    }

    .register_button_container {
      width: 80%;
    }

    .register_btn {
      font-size: 15px;
      width: 100%;
      height: 20px;
    }

    .have_acc_txt_cont {
      margin: 4px 0;
      padding-bottom: 6px;
    }

    .have_acc_txt_cont a {
      color: white;
    }
  }

  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) {
    .form_container {
      width: 70%;
      height: 65vh;
    }

    .register_input_box {
      font-size: 14px;
    }

    .register_button_container {
      width: 80%;
    }

    .register_btn {
      font-size: 15px;
      width: 100%;
      height: 20px;
    }

    .have_acc_txt_cont {
      margin: 4px 0;
      padding-bottom: 6px;
    }

    .have_acc_txt_cont a {
      color: white;
    }
  }