* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'GFS Neohellenic', sans-serif;
}

/* Authentication */

.Auth {
  background-image: url('assets/login_bg_large.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}

.logo_container {
  width: 35vw;
  height: 20vh;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth_container {
  width: 30vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(216, 206, 206, 0.658);
}

.auth_logo {
  font-size: 65px;
  color: #0E4AE2;
  font-weight: 400;
}

.auth_input_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 26px;
}

.auth_input_box input {
  border-radius: 5px;
  border: 1px solid white;
  width: 55%;
}

.auth_input_title {
  margin: 4px 0;
}

.auth_button_container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 15px 0;
}

.auth_button {
  font-size: 24px;
  width: 55%;
  background-color: #0E4AE2;
  border-radius: 5px;
  border: none;
  color: white;
}

.auth_register_link {
  padding: 5px 5px 5px 5px;
  margin: 10px 0;
  font-size: 13px;
}

/* Register */

.Register {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D9D8D8;
}

.form_container {
  height: 70vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2C0073;
  border-radius: 5px;
}

.logo_container {
  height: 20vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register_input_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 25px;
  color: white;
}

.register_input_box input {
  width: 80%;
  border-radius: 2px;
  margin: 10px 0;
}

.register_logo {
  font-size: 45px;
  color: #2C0073;
  font-weight: 400;
}

.register_button_container {
  margin-top: 15px;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register_btn {
  color: white;
  background-color: #0E4AE2;
  font-size: 25px;
  border: none;
  width: 80%;
}

/* Nav */

.Nav {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  padding-left: 20px;
  background-color: #0E4AE2;
  display: flex;
  flex-direction: row;
  z-index: 100;
}

.nav_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  width: 20%;
}

.nav_logo {
  font-size: 35px;
  color: #ffffff;
  font-weight: 400;
}

.nav_routes_icons_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  right: 100px;
  position: fixed;
  width: 50%;
  height: 100px;
}

.nav_profile_image_container {
  width: 70px;
  height: 100px;
  right: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.nav_logout_icon_container {
  width: 60px;
  height: 100px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}



/* Icons */

.nav_item {
  margin: 10px 25px;
}

path {
  stroke: white;
}

/* Dashboard */

.dash_container {
  width: 100%;
  height: 100%;
  top: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dashboard_fruit_box {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Posts */

.posts_container {
  width: 100%;
  height: 100%;
  top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Post */

.Post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.post_container {
  width: 85%;
  height: 600px;
  top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.create_post {
  display: flex;
  width: 100%;
  height: 575px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2C0073;
  margin: 10px 0;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
}

.inputs_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

.inputs_container p {
  color: white;
  margin: 10px 5px;
  font-size: 18px;
}

.create_post input::placeholder {
  color: rgb(39, 39, 39);
}

.create_post input {
  border-radius: 3px;
  width: 100%;
  margin: 5px 5px;
  background-color: rgba(255, 255, 255, 0.781);
  border: none;
  padding: 5px 5px;
}

.create_post textarea::placeholder {
  color: rgb(39, 39, 39);
}

.create_post textarea {
  width: 100%;
  height: 100%;
  margin: 10px 5px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.89);
  padding: 3px 3px 3px 3px;
  line-height: 21px;
  outline: none;
  user-select: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.post_container h1 {
  font-size: 36px;
  font-weight: 400;
}

.title_content_container {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100%;
  margin: 5px 15px;
}

.post_image_container {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
  margin: 5px 15px;
}

.post_image_container img {
  margin: 10px 5px;
  border-radius: 5px;
}

.form_submit_container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#post_submit {
  color: rgb(219, 204, 204);
  background-color: #0E4AE2;
  font-size: 18px;
  border: none;
  width: 150px;
  border-radius: 5px;
  margin: 20px 5px;
  line-height: 2rem;
  padding: 5px 5px 5px 5px;
}

#post_submit:hover {
  background-color: #3d6bdd;
}

/* Profile */

.profile_container {
  width: 100%;
  height: 100%;
  top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}