* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  box-sizing: border-box;
  margin: 0;
  background-color: #ffffff;
}

body {
  font-family: 'GFS Neohellenic', sans-serif;
}

/* Icons */

.nav_item {
  margin: 10px 25px;
}

path {
  stroke: white;
}