.Nav {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    padding-left: 20px;
    background-color: #0E4AE2;
    display: flex;
    flex-direction: row;
    z-index: 100;
  }
  
  .nav_logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20px;
    width: 20%;
  }
  
  .nav_logo {
    font-size: 35px;
    color: #ffffff;
    font-weight: 400;
  }
  
  .nav_routes_icons_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    right: 100px;
    position: fixed;
    width: 50%;
    height: 100px;
  }
  
  .nav_profile_image_container {
    width: 70px;
    height: 100px;
    right: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
  }
  
  .nav_logout_icon_container {
    width: 60px;
    height: 100px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
  }